*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    }
    .navbar {
    background-color: #1a5749;
    }
    .nav-item .nav-link {
    color: purple;
    }
    .navbar-collapse {
    flex-grow: 0;
    }
    .fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    }
